/* Fonts */
@font-face {
  font-family: 'Kievit';
  src: url('/fonts/KievitWeb-Book.eot'); /* IE9 Compat Modes */
  src: url('/fonts/KievitWeb-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/KievitWeb-Book.woff') format('woff'); /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Kievit';
  src: url('/fonts/KievitWeb-Medi.eot'); /* IE9 Compat Modes */
  src: url('/fonts/KievitWeb-Medi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/KievitWeb-Medi.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: bold;
}
html, body,
.home-page h1, .home-page p, .home-page li,
.light-box-area #visibility-button {
  font-family: 'Kievit', 'Helvetica Neue', Arial, sans-serif;
}


/* Components */
.small-button {
  padding: 0.3em 1em 0;
}

/* Background */
.readymade-site-background-effect {
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(22,23,11,0.5) 0%, rgba(22,23,11,0.8) 50%, rgba(22,23,11,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,23,11,0.5)), color-stop(50%,rgba(22,23,11,0.8)), color-stop(100%,rgba(22,23,11,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(22,23,11,0.5) 0%,rgba(22,23,11,0.8) 50%,rgba(22,23,11,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(22,23,11,0.5) 0%,rgba(22,23,11,0.8) 50%,rgba(22,23,11,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(22,23,11,0.5) 0%,rgba(22,23,11,0.8) 50%,rgba(22,23,11,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(22,23,11,0.5) 0%,rgba(22,23,11,0.8) 50%,rgba(22,23,11,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00262b2d', endColorstr='#e6262b2d',GradientType=0 ); /* IE6-9 */
}

/* Header */
.main-header-group {
  background: rgba(22,23,11,0.8);
}
.main-header-item:hover {
  background: rgba(85,85,85,0.5);
}
.main-header-item.selected {
  background: rgba(108,127,108,0.8);
}
.main-header-item:nth-child(3),
.main-header-item:nth-child(4),
.main-header-item:nth-child(5) {
  margin-left: 24px;
  overflow: visible;
  position: relative;
}
.main-header-item:nth-child(3),
.main-header-item:nth-child(4) {
  margin-left: 20px;
}
.main-header-item:nth-child(3):before,
.main-header-item:nth-child(4):before {
  content: "\f105";
  display: block;
  position: absolute;
  font-family: 'FontAwesome';
  left: -12px;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  top: 50%;
}
.main-header-item:nth-child(5):before {
  content: ' ';
  display: block;
  width: 1px;
  height: 50px;
  margin-top: -25px;
  position: absolute;
  left: -12px;
  top: 50%;
  background: rgba(255,255,255,0.3);
}
.main-header-item.logo {
  transform: none;
}
.main-header-item.logo img {
  width: auto;
  height: 52px;
}
.main-nav .login {
  line-height: 5.2em;
}

/* Pages */
.page-content {
  width: 960px;
  margin: 20px auto;
  box-sizing: border-box;
}
@media screen and (max-width: 999px) {
  .page-content {
    width: auto;
    margin: 20px;
  }
}
.page-content > div {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: rgba(255,255,255,0.85);
  padding: 20px 40px;
}
.page-content.custom-page > div:nth-child(2) > *:first-child {
  color: #fff;
  background: #3f5765;
  margin-top: -20px;
  margin-left: -40px;
  margin-right: -40px;
  padding: 40px 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.page-content > div.updated-at {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.page-content p,
.page-content li {
  font-size: 18px;
  line-height: 2;
  text-align: left;
  max-width: none;
}
.page-content h2 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
.page-content h3 {
  font-size: 28px;
  margin-top: 2em;
  border-left: 4px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 10px 0 10px 10px;
  width: 60%;
}
.page-content hr {
  display: block;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.1);
  margin: 3em auto 0;
  width: 80%;
}
.page-content#Team img {
  display: block;
  width: 60%;
  height: auto;
  margin: 0 auto;
}
.page-content > h1 {
  display: none;
}

/* Homepage */
div.home-page {
  padding-top: 80px;
    -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.home-page .title {
  display: block;
  text-transform: uppercase;
  padding-bottom: 0px;
  white-space: nowrap;
}
.home-page .page-content > div {
  max-width: 940px;
}
.home-page p,
.home-page li {
  font-size: 28px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.home-page p > a:first-child {
  font-size: 30px;
  padding: 0.5em 0.8em;
  width: auto;
}
.home-page li:first-child {
  margin-left: 0;
}
.home-page li a {
  display: block;
  margin: 0.2em 0 0.8em;
  font-size: 30px;
  width: auto;
}
.home-page .logo {
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  margin: -160px 0 130px;
  white-space: nowrap;
}
.home-page .logo:before {
  /*content: ' ';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('/images/nypl-logo.svg');
  background-size: 100% 100%;
  margin-right: 12px;
  vertical-align: text-bottom;*/
}
.home-page .logo a {
  display: inline;
  letter-spacing: normal;
  border-radius: 0px;
  background: none;
  width: auto;
  line-height: 1.8em;
  color: #9fce9f;
  font-size: 1.1em;
  font-weight: 300;
  height: auto;
  padding: 0;
  text-decoration: none;
}
.home-page .logo a:hover {
  color: #c9eac9;
}
.home-page .group-area {
  display: none;
}
@media screen and (max-width: 800px) {
  div.home-page {
    padding-top: 40px;
  }
  .home-page .title {
    font-size: 52px;
  }
  .home-page .logo {
    font-size: 22px;
    margin: -110px 0 80px;
  }
  .home-page p {
    font-size: 20px;
  }
}

.group-area .groups {
  text-align: center;
}
.group-area .groups .group {
  display: inline-block;
  height: 243px;
  overflow: hidden;
}
.group-area .groups .group a {
  background: none;
  font-size: 30px;
  padding: 0.5em 0.8em;
  width: auto;
}
.group-area .groups .group a:hover {
  background: rgba(255,255,255,0.2);
}
.group .group-name {
  font-family: 'Kievit', 'Helvetica Neue', Arial, sans-serif;
}
.group .button-container {
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}
.groups-header {
  text-align: center;
}

/* Rectangle Tool */
.rectangle-tool .draggable .resize-button {
  fill: #37464f;
  stroke: #efefef;
  r: 8;
}
.rectangle-tool .draggable .resize-button:hover {
  fill: #8cbc8c;
  stroke: #f1f1f1;
}
.delete-button circle {
  fill: #ef4545;
  transform: translate(5px, -15px);
  -webkit-transform: translate(5px, -15px);
}
.delete-button path {
  transform: translate(5px, -15px) rotate(45deg);
  -webkit-transform: translate(5px, -15px) rotate(45deg);
}
.delete-button:hover circle {
  fill: #ff5151;
}
.checkbox > path,
.checkbox > text {
  fill: blue;
}
.checkbox:hover > path,
.checkbox:hover > text {
  fill: #53b253;
}

/* Z-index issues */
.classifier .task-area {
  z-index: 100;
}

/* Tutorial */
.help-modal {
  box-shadow: 0 0 0 2000px rgba(0,0,0,0.8);
}
.modal-body img {
  width: 100%;
}
.modal-body hr {
  border-color: #ccc;
}

/* Update cursors */
.subject-viewer .subject-container .marking-surface .subject-viewer-svg {
  cursor: crosshair;
}
.rectangle-tool .tool-shape.draggable > polyline {
  cursor: move;
}
.rectangle-tool .tool-shape.draggable.committed > polyline {
  cursor: default;
}
.rectangle-tool .draggable .resize-button {
  cursor: nesw-resize;
}
.rectangle-tool .draggable:nth-child(even) .resize-button {
  cursor: nwse-resize;
}

/* Committed state */
.tool-shape.draggable.committed {
  opacity: 0.35;
}
.group-active .tool-shape.draggable.committed {
  opacity: 1;
}

/* Pick one, mark one */
.classifier .right-column .task-area .workflow-task .answer {
  padding-left: 7px;
  border-left: 10px solid #ddd;
}
.classifier .right-column .task-area .workflow-task .answer:hover {
  border-color: #667983;
}
.classifier .right-column .task-area .workflow-task .answer.active {
  border-color: #3f5765;
}
.classifier .right-column .task-area .help-bad-subject-holder .task-help-button {
  display: none;
}
#accordion-help-modal .ui-accordion-content {
  padding: 0.5em;
  overflow: hidden;
  display: block;
}
#accordion-help-modal img {
  width: 100%;
  float: none;
}
#accordion-help-modal ul,
#accordion-help-modal li,
#accordion-help-modal p {
  width: 92%;
  float: none;
}

/* Introduction */
.video-wrapper {
  margin: 30px -20px;
  padding: 20px 0 10px;
  background: #ccc;
  text-align: center;
}
.video-wrapper video {
  display: inline-block;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.page-content .video-wrapper {
  margin: 30px -40px;
}
@media screen and (max-width: 800px) {
  .video-wrapper video {
    width: 90%;
    height: auto;
  }
}
.columns ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  zoom: 1;
}
.columns li {
  background: #ccc;
  box-sizing: border-box;
  width: 32%;
  float: left;
  font-size: 22px;
  line-height: 36px;
  box-sizing: border-box;
  padding: 1em;
  margin-right: 1%;
  min-height: 264px;
  border-radius: 6px;
}
.columns li .major-button {
  display: block;
  margin-bottom: 1em;
}
@media screen and (max-width: 800px) {
  .columns li {
    width: auto;
    float: none;
    margin: 1em;
  }
}

.scribe-footer .scribe-footer-general {
  padding-bottom: 10px;
}
.emigrants-footer-links {
  background: #111;
  padding: 0px 0 30px;
  text-align: center;
  margin: 0 -20px;

}
.emigrants-footer-links > div {
  max-width: 920px;
  margin: 0 auto;
  border-top: 1px solid #333;
}
.emigrants-footer-links a {
  display: inline-block;
  padding: 10px 20px;
}
